	<div id="base-panel">
		<div id="post_list_top">
			<div id="avatar">

			</div>
			<div id="menu">				
					<%= link_to "Create Post",controller: "posts", action:"new" %>
			</div>
		</div>
		<ul id="post-list" class="nav nav-pills nav-stacked">
			<li class="post-entry"> 
				<%= link_to "Posts",root_path%> 
			</li>
			<table id="posts_table">
				<% if not @posts.nil? %>
				<% @posts.each do |p| %>
					<tr class="post-entry">
						<td class="td1">
							<%= p.id %>
						</td>
						<td class="td2">
							<%= link_to "#{p.title}", post_path(p) %> 
						</td>
						<td class="td3">
							<%= link_to "delete", post_path(p), method: :delete%> 
						</td>
					</tr>
				<% end %>
				<% end %>
			</table>
		</ul>
	</div>